# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.ko
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Autotools
Makefile
Makefile.in
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# glide
vendor

# Temporary files
*~
*.swp
*.sw?

# Tests
*.log
*.test
!cpplint.test
!dockerfilelint.test
!gofmt.test
!go.test
*.trs
.deps
.dirstamp
cpplint.py
test-driver

# build output
_output
