language: go

sudo: required
services: docker

env:
  DOCKER_COMPOSE_VERSION: 1.8.1

go:
  1.7

addons:
  apt:
    packages:
      - libglib2.0-dev
      - libvirt-dev
      - pkg-config

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y expect

install: ./autogen.sh

script:
  - go fmt $(go list ./... | grep -v /vendor/)
  - ./test.sh
