---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: rbd-pv-virtlet
spec:
  capacity:
    storage: 10M
  accessModes:
    - ReadWriteOnce
  flexVolume:
    driver: "virtlet/flexvolume_driver"
    options:
      type: ceph
      monitor: @MON_IP@:6789
      user: libvirt
      secret: @SECRET@
      volume: rbd-test-image-pv
      pool: libvirt-pool
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: rbd-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10M
---
apiVersion: v1
kind: Pod
metadata:
  name: cirros-vm-rbd-pv
  annotations:
    kubernetes.io/target-runtime: virtlet
    VirtletSSHKeys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCaJEcFDXEK2ZbX0ZLS1EIYFZRbDAcRfuVjpstSc0De8+sV1aiu+dePxdkuDRwqFtCyk6dEZkssjOkBXtri00MECLkir6FcH3kKOJtbJ6vy3uaJc9w1ERo+wyl6SkAh/+JTJkp7QRXj8oylW5E20LsbnA/dIwWzAF51PPwF7A7FtNg9DnwPqMkxFo1Th/buOMKbP5ZA1mmNNtmzbMpMfJATvVyiv3ccsSJKOiyQr6UG+j7sc/7jMVz5Xk34Vd0l8GwcB0334MchHckmqDB142h/NCWTr8oLakDNvkfC1YneAfAO41hDkUbxPtVBG5M/o7P4fxoqiHEX+ZLfRxDtHB53 me@localhost
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: extraRuntime
            operator: In
            values:
            - virtlet
  containers:
  - name: cirros-vm-rbd-pv
    image: virtlet/image-service.kube-system/cirros
    resources:
      limits:
        # This memory limit is applied to the libvirt domain definition
        memory: 128Mi
  volumes:
  - name: test
    persistentVolumeClaim:
      claimName: rbd-claim
